server {
	listen 80;
	listen [::]:80 ipv6only=on;

	root /usr/share/nginx/html;
	index index.html index.htm;

	# Make site accessible from http://localhost/
    # TODO: Update this server name with your base URL
	server_name ec2-52-4-252-112.compute-1.amazonaws.com/ localhost/;

    keepalive_timeout 10;
    sendfile          on;
    gzip              on;
    gzip_http_version 1.0;
    gzip_comp_level   2;
    gzip_proxied      any;
    gzip_types        text/plain text/css application/x-javascript text/xml application/xml application/xml+rss text/javascript;

    error_page 500 503 504 http://localhost:3000/500.html;
    error_page 502 http://localhost:3000/assets/502.html;
    
    # omh dsu resouce server
    location /dsu/dataPoints {
        # allow large file (e.g. image survey responses)
    	client_max_body_size 50M;
            proxy_pass http://localhost:8083/v1.0.M1/dataPoints;
    }
    # omh dsu resource server surveys endpoint (return the survey accessible to the user)
    location /dsu/surveys {
            proxy_pass http://localhost:8083/v1.0.M1/surveys;
    }
    # omh dsu resouce server valite survey description endpoint
    location /dsu/validate-survey {
            proxy_pass http://localhost:8083/v1.0.M1/validate-survey;
    }
    # omh dsu auth server
    location /dsu/ {
            proxy_pass http://localhost:8082/dsu/;
    }
    # omh shims callback endpoint (when performing three-leg oauth authorization)
    location /shims/authorize/ {
            proxy_pass http://localhost:8084/authorize/;
    }
    # admin dashboard
    location /admin/ {
            proxy_pass http://localhost:3000/admin/;
    }

	location / {
		# First attempt to serve request as file, then
		# as directory, then fall back to displaying a 404.
		try_files $uri $uri/ =404;
		# Uncomment to enable naxsi on this location
		# include /etc/nginx/naxsi.rules
	}

}